/*Global 변수*/
:root {
    /*App Colors*/
    --color-primary: var(--color-blue);
    --color-primary-variant: var(--color-gray);
    --color-accent: var(--color-sky);
    --color-accent-variant: var(--color-orange);
    --color-text: var(--color-white);
    /* Colors */
    --color-white: #ffffff;
    --color-blue: #5f7398;
    --color-sky: #858ebe;
    --color-orange: #fd6413;
    --color-gray: #1b1e26;
    /*Size*/
    --size-max-width: 1200px;
}
  
  * {
    box-sizing: border-box;
    /* 박스 크기를 계산할 때 테두리를 기준으로 크기를 결정 
    요소가 애플리케이션 화면을 벗어나지 않도록 예방*/
  }
  
  body {
    font-family: "Open Sans", sans-serif;
    margin: 0;
  }
  
  h1,
  h2,
  h3,
  p,
  ul {
    margin: 0;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  a {
    text-decoration: none;
    color: var(--color-text);
  }
  
  /*Common (공통으로 사용하는 것)*/
  .section {
    padding: 4rem;
    text-align: center;
  }
  .title {
    font-size: 2.5rem;
    margin: 1rem 0;
  }
  .description {
    font-size: 1.5rem;
    margin: 0.5rem 0;
  }
  
  .max-container {
    max-width: var(--size-max-width);
    /*창 늘어날 때 박스 간격 벌어지는 것 방지*/
    margin: auto;
    /*block 레벨 수평정렬 - auto는 자동으로 중간 정렬*/
  }
  
  /*Header*/
  .header {
    background-color: var(--color-primary);
    /* position: fixed; */
    top: 0;
    width: 100%;
    padding: 1rem;
    display: block; /*flexbox*/
    justify-content: space-between;
    align-items: center;
  }
  
  .header1 {
    background-color: var(--color-primary);
    top: 0;
    width: 100%;
    padding: 1rem;
    display: flex; /*flexbox*/
    justify-content: space-between;
    align-items: center;
  }
  
  .header__logo {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  
  .header__logo__img {
    width: 230px;
    height: 65px;
    border-radius: 20px;
  }
  
  .header__logo__title {
    font-size: 1.8rem;
  }
  
  .header__menu {
    display: flex;
    gap: 4px;
  }
  
  .header__menu__item {
    padding: 8px 16px;
  }
  
  .header__menu__item:hover {
    border-bottom: 4px solid var(--color-accent);
  }
  
  .header__menu__item.active {
    border: 4px solid var(--color-accent);
    border-radius: 4px;
  }
  
  .header2 {
    background-color: var(--color-primary);
    display: flex; /*flexbox*/
    top: 0;
    width: 100%;
    padding: 1rem;
    justify-content: space-between;
    align-items: center;
  }
  
  .header__search {
    display: flex;
  }
  
  input[type="text"] {
    border-radius: 20px;
    border: 6px solid #767fb5;
  }
  input::placeholder {
    font-weight: bold;
    text-align: center;
  }
  
  .header__search__button {
    background-color: #767fb5;
    border-radius: 20px;
    color: var(--color-text);
    outline: 0;
    border: 0;
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
  }
  
  .header__serach__button:hover {
    outline: 1px solid var(--color-accent);
  }
  /*================================================================*/
/* main 게시판 섹션 */

.boxoffice_name ul {
    overflow: hidden; 
    width: 80%; 
    margin: 0 auto;
    padding: 30px 0 30px 0;
    justify-content: center;
    text-align: center;
}
.boxoffice_name li {
    padding: 0 40px;
    display: inline-block; 
}

.boxoffice_name li a {
    display: block; 
    padding: 15px 0; 
    font-size: 20px; 
    color: #989696; 
    font-weight: 5500;
}

.boxoffice_name li a:hover {
    color: #666;
    border-bottom: 4px solid #666;
}
  
.boxoffice_name li.active a {
    border-radius: 4px;
}

.boxoffice_movie{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 40px;
}

.movies {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1rem;
    width: 60%;
}

.col {
    border-radius: 8px;
    border: 1px solid #A4A4A4; 
    overflow: hidden;
    float: left; 
    padding:10px;
    margin: 10px;
    position: relative;
    justify-content: center;
    text-align: center;
}

.col>img{
    width:100%;
}

.col .rank {position: absolute; top: 30px; left: 10px; width: 50px; height: 50px; font-size: 60px;  line-height: 50px; text-align: center;}
.col .rank strong {color: #ffffff; text-shadow: 2px 2px 3px rgba(0,0,0,1);}

.info {
    position: absolute;
    padding-top: 10px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-black);
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 250ms ease-in;
    transform: translateY(-10px);
    font-size: 1.2rem; /*영화 제목, 설명 글짜 크기*/
    color: white;
  }
  
  .info:hover {
    opacity: 1;
    transform: translateY(0px);
  }
  
  .card-title:after {
    content: "";
    display: block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin: 0.5rem 0;
    width: 100px;
    height: 2px;
    background-color: #767fb5;
  }
  

/*Footer*/
#contact {
    background-color: var(--color-primary);
    color: var(--color-text);
  }
  
  .contact__links {
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
    font-size: 2rem;
  }
  
  .contact__link {
    transition: color 250ms ease-in;
    /*추가요소(중요x)*/
  }
  
  .contact__link:hover {
    color: var(--color-accent);
  }
  